/*
button {
    background-color: ghostwhite;
    color: black;
    transition: background-color 2s ease, color 2s ease;
}

button:hover {
    background-color: cornflowerblue;
    color: ghostwhite;
}
*/

/*Class solution*/
.transform {
    transition-duration: 1s;
  }
  
  .transform:hover {
    background-color: cornflowerblue;
    color: ghostwhite;
  }